page-profile {
  .user-info {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 50px;
    .figures {
      p {
        margin-bottom: 5px;
      }
      display: inline-block;
      text-align: center;
      width: 100%;
    }

    #modify-user-data-button {
      @extend %default-button;
      width: 60%;
      margin-left: 12%;
      margin-right: 1%;
    }

    #log-out-button {
      @extend %default-button;
      width: 15%;
    }
  }
  .media {
    margin-top: 20px;
  }

  .hightlighted {
    background-color: #4CAF50;
  }
}
