<ion-header *ngIf="isUserLoggedIn" no-border>

  <ion-navbar>
    <ion-title text-center>Username</ion-title>
  </ion-navbar>

</ion-header>

<ion-content *ngIf="isUserLoggedIn">
  <div class="user-info">
    <div class="figures">
      <p>12</p>
      <ion-note>posts</ion-note>
    </div>
    <div class="figures">
      <p>12</p>
      <ion-note>likes</ion-note>
    </div>
    <button id="modify-user-data-button" (click)="modifyUserData($event)">Edit Profile</button>
    <button id="log-out-button" icon-only (click)="presentLogoutAlert()">
      <ion-icon name="ios-log-out"></ion-icon>
    </button>
  </div>

  <div *ngFor="let media of mediaArray">
    <page-post-template [mediaData]="media" (like)="like($event)" (comment)="comment($event)"></page-post-template>
  </div>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<ion-content *ngIf="!isUserLoggedIn">
  <page-login-template (login)="onLogin($event)"
                       (signUp)="onSignUp($event)"
                       (skip)="onSkip($event)"></page-login-template>
</ion-content>
