<ion-header no-border>
  <ion-navbar>
    <ion-title text-center>LeafLoad</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
<!--<<<<<<< HEAD-->
  <div no-lines *ngFor="let media of mediaArray">
<!--=======-->
  <!--<div class="media-card" no-lines *ngFor="let media of mediaArray">-->
<!--&gt;>>>>>> develop-->
    <page-post-template [mediaData]="media" (like)="like($event)" (comment)="comment($event)"></page-post-template>
  </div>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
