<ion-header no-border>
  <ion-navbar>
    <ion-title text-center>LeafLoad</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="media-card" no-lines *ngFor="let media of mediaArray">
    <page-post-template [mediaData]="media" (like)="like($event)" (comment)="comment($event)"></page-post-template>
  </div>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<!--<ion-content>-->
  <!--<ion-card *ngFor="let media of mediaArray">-->
    <!--<ion-item>-->
      <!--<h2>username</h2>-->
    <!--</ion-item>-->

    <!--<img [src]="media.thumbnail">-->

    <!--<ion-card-content>-->
      <!--<h2>{{media.title}}</h2>-->
      <!--<p>{{media.description}}</p>-->
    <!--</ion-card-content>-->

    <!--<ion-row>-->
      <!--<ion-col>-->
        <!--<button ion-button icon-left clear small>-->
          <!--<ion-icon name="ios-heart-outline"></ion-icon>-->
          <!--<div>12</div>-->
        <!--</button>-->
      <!--</ion-col>-->
      <!--<ion-col>-->
        <!--<button ion-button icon-left clear small>-->
          <!--<ion-icon name="ios-text-outline"></ion-icon>-->
          <!--<div>4</div>-->
        <!--</button>-->
      <!--</ion-col>-->
      <!--<ion-col center text-center>-->
        <!--<ion-note>-->
          <!--11h ago-->
        <!--</ion-note>-->
      <!--</ion-col>-->
    <!--</ion-row>-->
  <!--</ion-card>-->
  <!--<ion-infinite-scroll (ionInfinite)="doInfinite($event)">-->
    <!--<ion-infinite-scroll-content></ion-infinite-scroll-content>-->
  <!--</ion-infinite-scroll>-->
<!--</ion-content>-->
