page-login-template {
  input, input::-webkit-input-placeholder, button {
    font-size: 18px;
  }

  ion-content {
    display: flex;
    align-items: center;
  }

  input {
    border-radius: 5px;
    border: $default-border;
    padding: 20px;
    width: 60%;
    height: 30px;
    margin-bottom: 10px;
  }

  button {
    @extend %default-button;
    background-color: #50A050;
    width: 80%;
    height: 40px;
  }
}
