<ion-header no-border *ngIf="isUserLoggedIn">
  <ion-navbar>
    <ion-title>Upload</ion-title>
  </ion-navbar>

</ion-header>

<ion-content #uploadLayout text-center [hidden]="!isUserLoggedIn">
  <div class="page-content" [hidden]="!shouldLayoutUploadView">
    <img *ngIf="base64Image" [src]="base64Image" />

    <button class="option-buttons" icon-only (click)="selectCamera()">
      <ion-icon name="ios-camera-outline"></ion-icon>
    </button>

    <button class="option-buttons" icon-only (click)="selectGallery()">
      <ion-icon name ="ios-image-outline"></ion-icon>
    </button>

    <form>
      <input [(ngModel)]="media.title" name="title" placeholder="Title">
      <textarea [(ngModel)]="media.description" name="description" placeholder="Description"></textarea>
    </form>

    <button [disabled]="!base64Image" id="upload-button" (click)="uploadMedia()">Upload</button>
  </div>

</ion-content>

<ion-content *ngIf="!isUserLoggedIn">
  <page-login-template (didSucceedToLogin)="onLogin($event)"
                       (signUp)="onSignUp($event)"
                       (skip)="onSkip($event)"
                       [showSkipButton]='false'></page-login-template>
</ion-content>
