page-post-template {
  font-size: 14px;
  width: 100%;

  .media-card {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .media {
      width: 100%;
      img {
        width: 100%;
        height: auto;
      }
    }

    .media-content {
      width: 100%;
      padding-left: 10px;
      margin: 8px;
    }

    ion-note {
      width: 100%;
      padding-left: 20px;
      margin-top: 10px;
      margin-bottom: 50px;
    }

    .interaction {
      width: 15%;
      margin-left: 5px;
      margin-top: -5px;
      margin-bottom: -5px;
    }
  }
}
