<!--
  Generated template for the CommentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar>
    <ion-buttons end>
      <button ion-button icon-only color="dark" (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Comments</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <!--<ion-list no-padding>-->
    <!--<ion-list-header *ngFor="let comment of comments; let i = index" no-lines no-padding>-->
      <!--<h6>username</h6> {{comment.comment}}-->
    <!--</ion-list-header>-->
  <!--</ion-list>-->
  <div class="comment-content" *ngFor="let comment of comments; let i = index">
    <h6>username</h6>
    <p>{{comment.comment}}</p>
  </div>
</ion-content>

<ion-footer no-border>
  <ion-toolbar>
    <label>
      <ion-input [(ngModel)]="comment" #commentInput="ngModel" placeholder="Add a comment..." required></ion-input>
    </label>
    <ion-buttons end>
      <button ion-button clear large (click)="submitComment()" [disabled]="!commentInput.valid || isUploadingComment">
        <ion-icon name="send"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
